---
layout: default
popup-gallery: true
gallery:
  - coloum-size: col-6
    aspect-ratio: square
    background_image: /images/the-sleep-co-pug.jpg
  - coloum-size: col-6
    aspect-ratio: square
    background_image: /images/the-sleep-co-yellow.jpg
  - coloum-size: col-4
    aspect-ratio: square
    background_image: /images/the-sleep-co-pug.jpg
  - coloum-size: col-4
    aspect-ratio: square
    background_image: /images/the-sleep-co-white-bed.jpg
  - coloum-size: col-4
    aspect-ratio: square
    background_image: /images/the-sleep-co-pug.jpg
  - coloum-size: col-12
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-yellow.jpg
  - coloum-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-pug.jpg
  - coloum-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-yellow.jpg
  - coloum-size: col-4
    aspect-ratio: portrait
    background_image: /images/the-sleep-co-dark-bed.jpg
---

<!-- Header banner  ------------------------------->
<header class="grid tall-100 md-tall-80"> 

    {% include header-nav.html %}
     
    <div class="col-12 text-center"> 
        <h3 class="font-weight-extra-bold editable" data-aos="fade-in" data-aos-duration="2000">
            <span class="featured-text"> Visualise</span> Our world
        </h3>
        <h1 class="font-weight-light editable" data-aos="fade-up" data-aos-delay="300">
            the ultimate mattress solution
        </h1> 
    </div>  
</header>

{% if page.popup-gallery == true %}

<section class="padded">
    <h2> Pop up Gallery</h2>
    <div class="gallery grid" id="lightgallery">

        {% for item in page.gallery %}
        <a class="{{item.coloum-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
        </a>
        {% endfor %}
     </div>

     

     <div class="gallery grid" id="lightgallery-2">

      <a class="button" href="/images/the-sleep-co-pug.jpg">
        Our Awesome work
      </a>
      <a href="/images/the-sleep-co-pug.jpg" title="Cute dog"></a>
      <a href="/images/the-sleep-co-yellow.jpg"title="Wow bright bed"></a>
      <a href="/images/the-sleep-co-white-bed.jpg"title="how soft"></a>
      <a href="/images/the-sleep-co-pug.jpg"title="Cute dog 2"></a>
      <a href="/images/the-sleep-co-dark-bed.jpg"title="So sleepy"></a>
      <a href="/images/the-sleep-co-pug.jpg"title="same dog"></a>
   
   </div>
</section>

{% else %}
        
 <section class="padded">  
    
      <!-- Standard gallery -------------------- -->
      <h2> Standard Gallery</h2>
      <div class="gallery grid">

        {% for item in page.gallery %}
        <div class="{{item.coloum-size}}">
          <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
        </div>
        {% endfor %}
        
        
      </div>
 </section> 
 {% endif %}

 <!------ Testimonial Section   ------------------------>
 {% include testimonial.html %}

      


